<!doctype html>
<html>
    <head>
        <title>New Student</title>
    </head>
    <body>
        <form action='/student-add' method='POST'>
            <label for='field-firstname'>First Name:</label>
            <input type='text' name='firstname' id='field-firstname'><br>
            <label for='field-lastname'>Last Name:</label>
            <input type='text' name='lastname' id='field-lastname'><br>
            <label for='field-github'>Github Account:</label>
            <input type='text' name='github' id='field-github'><br>
            <input type='submit'>
        </form>
    </body>
</html>